@page
@{
    ViewData["Title"] = "CallCenter";
}

<h1>CallCenter</h1>
@{
    var q1 = "eeerfer greg rt";
    Console.WriteLine(q1);


}

                                                                                                   