@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <img src="technobrain.gif" alt="TECHNO BRAIN LOGO">

        <h1 class="display-4">Welcome to - ABC Telesales Call Script</h1>
        <br><br>

        <p>Learn about Proper Nested If - A walkthrough by Dan.</p>

        <br><br><br><br><br>


        <p> Do you wanna place a call? Just click <a asp-area="" asp-page="/CallCenter">CallCenter</a>, or go to the Callcenter Menu.</p>

    </div>
