@page
@model NESTEDIF.fdvvcModel
@{
    ViewData["Title"] = "Question 3";
}

    <h1>Question 3</h1>
<p>Q3. 	 Its about ABC and the benefits your company can acquire from us working together. Which is offering a solution that will significantly reduce your IT infrastructure costs while ensuring reliability and enhanced security through the services we offer. Are you interested? </p>

<a asp-area="" asp-page="Question_4" id="query5">
    <input type="radio" id="query5" name="Option" value="Yes">
    <label for="Yes">Yes</label>
</a>

<br>

<a asp-area="" asp-page="CallCenter" id="query6">
    <input type="radio" id="query6" name="Option" value="No">
    <label for="No">No</label>
</a>
