@page
@{
    ViewData["Title"] = "Question_2";
}

<h1>Question_2</h1>

<p>Q2. 	Can I talk to Mr./Mrs/Ms./Dr./Prof. at some other date and time?</p>

<input type="radio" id="query3" name="Option" value="Yes">
<label for="Yes">Yes</label>

<br />

    <input type="radio" id="query4" name="Option" value="No">
    <label for="No">No</label>
