@page
@{
    ViewData["Title"] = "Question_4";
}

<h1>Question_4</h1>
<p>Q4. 	Thank you Charles Mwasambu, Have you heard about ABC? </p>

    <input type="radio" id="query1" name="Option" value="Yes">
    <label for="Yes">Yes</label>

<br>
<a asp-area="" asp-page="Question_5" id="query7">
    <input type="radio" id="query7" name="Option" value="No">
    <label for="No">No</label>
</a>

