@page
@{
    ViewData["Title"] = "Question_5";
}

<p>ABC is a backup service provider that offers you affordable & secure backup solutions. It also offers leased server services so customers don’t have to invest in physical servers in their offices which are managed by ABC, 24/ 7 </p>
<br>
<br>

<p>Q5. What's your take on these ABC Services? </p>

<input type="radio" id="query8" name="Option" value="Excellent">
<label for="Excellent">Excellent</label>
<br>

<input type="radio" id="query9" name="Option" value="Good">
<label for="Good">Good</label>
<br>

<input type="radio" id="query10" name="Option" value="Bad">
<label for="Bad">Bad</label>
<br>

<input type="radio" id="query11" name="Option" value="Poor">
<label for="Poor">Poor</label>
